.octocat {
  display: inline-block;
  width: 30%;
}

.octocat > a img{
  border: 1px #d4d4d4 solid;
  border-radius: 1%;
  width: 95%;
}


.image-footer{
  border-bottom: 1px solid #d4d4d4;
  width: 95%;
  min-height: 40px;


}
.image-number{
  float:left;
  position: relative;
  top: 10px;

;
}
.image-number:before{
  content:"#";
}
.image-caption{
  display: inline-block;
  position: relative;
  top: 10px;
  float: right;
}
.image-caption > span{
  position: relative;
  left: -3%;
}

.image-caption > a{
  position: relative;
  left: -3%;
}


.image-footer:before{
  content:'';
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 6.5px 7.5px 0 7.5px;
  border-color: #d4d4d4 transparent transparent transparent;
  z-index: 2;
  position:relative;
  top:2px;
  left:313px;
}


.authors li a img{
  position: relative;
  width: 20px;
  border-radius:10%;
  top: -20px;
  left: 3px;

}
.authors {
  float: right;
  position: relative;
  top: 20px;
}
a {
  text-decoration:none;
  color: black;
  font-weight: bold;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;

}

span {
  color: #d4d4d4;
  font-weight: bold;

}
