

/* put all octocat pictures inline and appropriately sized*/
.octocat {
  display: inline-block;
  width: 30%;
}

/* position and border octocat images only*/
.octocat > a img{
  border: 1px #d4d4d4 solid;
  border-radius: 1%;
  width: 95%;
}

/* positioning and bordering the footer as a whole*/

.image-footer{
  border-bottom: 1px solid #d4d4d4;
  width: 95%;
  min-height: 40px;
  /* needs min height due to float colapse*/

}

/* positioning the image number in the footer */

.image-number{
  float:left;
  position: relative;
  top: 10px;


}

/* making a # */
.image-number:before{
  content:"#";
}

/*positioning for the footer text and pics as a whole*/

.image-caption{
  display: inline-block;
  position: relative;
  top: 10px;
  float: right;
}

/* positioning the span text inside the footer*/

.image-caption > span{
  position: relative;
  left: -3%;
}

/* positioning the link text inside the footer */

.image-caption > a{
  position: relative;
  left: -3%;
}


/*adding the triangle*/
.image-footer:before{
  content:'';
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 6.5px 7.5px 0 7.5px;
  border-color: #d4d4d4 transparent transparent transparent;
  z-index: 2;
  position:relative;
  top:2px;
  left:313px;
}

/* positioning the author pics */
.authors li a img{
  position: relative;
  width: 20px;
  border-radius:10%;
  top: -20px;
  left: 3px;

}

/*moves all author pics togther*/

.authors {
  float: right;
  position: relative;
  top: 20px;
}

/* set link styles */

a {
  text-decoration:none;
  color: black;
  font-weight: bold;
}

/*set list style*/

ul {
  list-style: none;
  padding: 0;
  margin: 0;

}

/*set span style*/
span {
  color: #d4d4d4;
  font-weight: bold;

}
