
.octocat {
  display: inline-block;
  width: 33%;
}
.octocat > a img{
  border: 1px #d4d4d4 solid;
  border-radius: 1%;
  width: 95%;
}

.authors li img{
  position: relative;
  display: inline;
  width: 20px;
  border-radius:10%;
  top: -40px;
  float: right;
  left: 3px;
}

a {
  text-decoration:none;
  color: black;
  font-weight: bold;
}

.image-number{
  float:left;
  position: relative;
  top:10px;
  font-weight: bold;

}
.image-caption{
  margin: 0;
  position: relative;
  top: 30px;
  display: inline;

}

.image-caption > span {
  position: relative;
  left: 170px;
  top: -20px;
  margin:0;
  padding:0;

}

.image-caption > a {
  position: relative;
  left: 170px;
  top: -20px;
  margin:0;
  padding:0;
}

.image-footer{
  border-bottom: 1px solid #d4d4d4;
  width: 95%;
  min-height: 20px;
  position:relative;
  display: inline-block;

}

ul {
  list-style: none;
  padding: 0;
  margin: 0;

}

span {
  color: #d4d4d4;

}

.image-number:before{
  content:"#";
}


.image-footer:before{
  content:'';
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 6.5px 7.5px 0 7.5px;
  border-color: #d4d4d4 transparent transparent transparent;
  z-index: 2;
  position:relative;
  top:2px;
  left:350px;
}
